#### Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [5]:
numbers = (1,2,3,4,5,6,7,8,9,10)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.

In [12]:
first_element = numbers[0]
middle_element = numbers[len(numbers)//2]
last_element = numbers[-1]
print(first_element, middle_element, last_element)

1 6 10

### Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [23]:
first_three = numbers[:3]
last_three = numbers[-3:]
index = numbers[2:5]
print(first_three, last_three, index)

(1, 2, 3) (8, 9, 10) (3, 4, 5)

#### Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [26]:
matrix = (
    [1,2,3],
    [4,5,6],
    [7,8,9]
)
print(matrix[1][2])

6

#### Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [30]:
tuple1= (1,2,3)
tuple2=(4,5,6)
combined=tuple1+tuple2
print(combined)

(1, 2, 3, 4, 5, 6)

#### Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [35]:
numbers = (1,2,3,4,4,5,6,6,7)
count = numbers.count(4)
index = numbers.index(2)
print(count, index)

2 1

#### Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [38]:
data = (10,20,30,40,50)
a,b,c,d,e=data
print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
50

#### Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [43]:
lst = [1,2,3,4,5]
tuple_numbers=tuple(lst)
print(tuple_numbers)

(1, 2, 3, 4, 5)

#### Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [48]:
tuple1 = (1,(2,3,4),(4,5,6),(6,7,8))
print(tuple1)

(1, (2, 3, 4), (4, 5, 6), (6, 7, 8))

#### Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [53]:
tuple1 = (1,2,3,4,5)
list1 = list(tuple1)
print(list1)
list1.append(6)
tuple2 = tuple(list1)
print(tuple2)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

#### Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [60]:
text = "hello how are you"
tuple1 = tuple(text)
print(tuple1)
joined_string = ''.join(tuple1)
print(joined_string)

('h', 'e', 'l', 'l', 'o', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')
hello how are you

#### Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [67]:
dict = {
    (0,0):1,
    (1,2):2,
    (2,3):3,
    (3,4):4
    
}
for key, value in dict.items():
    print (f"{key} => {value}")

(0, 0) => 1
(1, 2) => 2
(2, 3) => 3
(3, 4) => 4

#### Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [70]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for row in nested_tuple:
    for item in row:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

#### Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [73]:
tuple1= (1,2,2,2,3,4,5)
set1=set(tuple1)
print(set1)

{1, 2, 3, 4, 5}

#### Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [78]:
def minimum(t):
    return min(t)
def maximum(t):
    return max(t)
def addition(t):
    return sum(t)
numbers = (5,2,1,8,9,7)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
9
32