# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

#### Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set.

In [2]:
set1 = {1,2,3,4,5,6,7,8,9,10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Adding and Removing Elements
Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [7]:
set1.add(11)
print(set1)
set1.remove(1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

#### Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [10]:
set1={1,2,3,4,5}
set2={6,7,8,5,4}

union = set1.union(set2)
intersection = set1.intersection(set2)
difference  = set1.difference(set2)
sym_diff = set1.symmetric_difference(set2)

print("Union is", union)
print("Intersection is", intersection)
print("Difference is", difference)
print("Symmetric Difference is", sym_diff)

Union is {1, 2, 3, 4, 5, 6, 7, 8}
Intersection is {4, 5}
Difference is {1, 2, 3}
Symmetric Difference is {1, 2, 3, 6, 7, 8}

#### Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [13]:
square_set = {x**2 for x in range(1,11)}
print(square_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

#### Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [16]:
set1 = {x for x in range(1,11) if x%2==0}
print(set1)

{2, 4, 6, 8, 10}

#### Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [19]:
set2 = {2,3,3,4,4,5,6}
print(set2)

{2, 3, 4, 5, 6}

#### Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [24]:
set1 = {1,2,3,4,5}
set2={2,3,5}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

#### Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [35]:
frozen_numbers = frozenset([1,2,3,4,5])
print(frozen_numbers)

frozenset({1, 2, 3, 4, 5})

#### Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [38]:
set1 = {x for x in range(1,6)}
list1 = list(set1)
list1.append(6)
set2 = set(list1)
print(set2)

{1, 2, 3, 4, 5, 6}

#### Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [45]:
dict = {
    frozenset({0,1}):1,
    frozenset({1,2}):2,
    frozenset({2,3}):3,
    frozenset({3,4}):4
}
for key, value in dict.items():
    print(f"{key} => {value}")

frozenset({0, 1}) => 1
frozenset({1, 2}) => 2
frozenset({2, 3}) => 3
frozenset({3, 4}) => 4

#### Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [48]:
set1 = {1,2,3,4,5,5,6}
for j in set1:
    print(j)

1
2
3
4
5
6

#### Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [55]:
set1 = {x for x in range(1,11)}
print("Before removing")
print(set1)
while set1:
    set1.pop()
print ("After removing")
print(set1)

Before removing
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After removing
set()

#### Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [62]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

#### Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [69]:
set1 = {10,20,30,40,50}
test_elements = [10,30,50,20,5]
for i in test_elements:
    if i in set1:
        print(f"{i} is present")
    else:
        print(f"{i} is not present")

The 10 is present
The 30 is present
The 50 is present
The 20 is present
The 5 is not present