Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits

In [5]:
a = int(input("Enter the  number"))
y = ' '.join(str(a)[::-1])
y

Enter the  number 5678

'8 7 6 5'

Write a program that will give you the sum of 3 digits

In [10]:
x = int(input("Enter the number"))
a = x%10   #Gets the last digit
num = x//10 #Gets first two digits
b = num%10
c = num//10
print(a+b+c)

Enter the number 567

18

Write a program that will reverse a four digit number. Also it checks whether the reverse is true.

In [2]:
x = int(input("Enter a four digit number"))
print(str(x)[::-1])
rev=str(x)[::-1]
if rev==str(x):
    print(True)
else:
    print(False)

Enter a four digit number 1221

1221
True

Second Method

In [18]:
x = int(input("Enter the number"))
a = x%10   #Gets the last digit
num = x//10  #Gets last 3 digits
b = num%10 #Gets third last digit
num1 = num//10
c = num1%10
d = num1//10

Number = a*1000+b*100+c*10+d
print(Number)

Enter the number 5678

8765

Write a program to find the euclidean distance between two coordinates

In [20]:
import math
x1 = float(input("Enter the value of x1"))
y1 = float(input("Enter the value of y1"))
x2 = float(input("Enter the value of x2"))
y2 = float(input("Enter the value of y2"))
x = [x1, y1]
y = [x2, y2]
print("The Euclidean distance is", math.dist(x,y))

Enter the value of x1 5
Enter the value of y1 6
Enter the value of x2 7
Enter the value of y2 8

The Euclidean distance is 2.8284271247461903

Write a program that will tell whether the given number is divisible by 3 & 6.

In [21]:
x = int(input("Enter the number"))
if(num%3==0 and num%6==0):
    print("Number is divisible by 3 and 6")
else:
    print("Number is not divisible")

Enter the number 56

Number is not divisible

Write a program that will take three digits from the user and add the square of each digit.

In [22]:
x = int(input("Enter the number"))
a = x%10
num = x//10
b = num%10
c = num//10
sum = a**2+b**2+c**2
print(sum)

Enter the number 567

110

Write a program that will check whether the number is armstrong number or not.

In [26]:
x = int(input("Enter three digit number"))
a = x%10
num = x//10
b = num%10
c = num//10
if(((a**3)+(b**3)+(c**3))==x):
    print("The number is armstrong")
else:
    print("The number is not armstrong")

Enter three digit number 153

The number is armstrong

Write a program that will take user input of (4 digits number) and check whether the number isnarcissist number or not.

In [28]:
x = int(input("Enter a four digit number"))
a = x%10
num = x//10
b = num%10
num1= num//10
c = num1%10
d = num1//10
if((a**4+b**4+c**4+d**4)==x):
    print("The number is narcissitic")
else:
    print("The number is not narcissistic")

Enter a four digit number 1634

The number is narcissitic

Display three string “Name”, “Is”, “James” as “Name ** Is ** James”

In [29]:
print("name", "is", "James", sep="**")

name**is**James

Convert Decimal number to octal using print() output formatting

In [33]:
number =12
print(oct(number)[-2:])

14

Display float number with 2 decimal places using print()

In [34]:
number = 3.1456788
print(round(number, 2))

3.15

Print all factors of a given number provided by the user.

In [36]:
n = int(input("Enter the number"))
for i in range(1,n+1):
    if(n%i==0):
        print(i, end=" ")

Enter the number 88

1 2 4 8 11 22 44 88

Write all content of a given file into a new file by skipping line number 5

In [42]:
with open("C:/Users/ankit/OneDrive/Desktop/Road to Data Science/Python for Data Science Files/Test.txt",'r') as fp:
    lines = fp.readlines()
with open("C:/Users/ankit/OneDrive/Desktop/Road to Data Science/Python for Data Science Files/Test2.txt",'w') as fp:
    count=0
    for line in lines:
        if count==4:
            count=+1
            continue
        else:
            fp.write(line)
        count+=1

Accept any three string from one input() call

In [45]:
a = str(input("Enter the string"))
sep = a.split()
name1 = sep[0]
name2 = sep[1]
name3 = sep[2]
print(name1)
print(name2)
print(name3)

Enter the string Hello my name is Ankita

Hello
my
name

Format variables using a string.format() method. Write a program to use string.format() methodto format the following three variables as per the expected output

In [1]:
totalMoney = 1000
quantity = 3
price = 450
print("I have {} money with quantity {} and price{}".format(totalMoney, quantity, price))

I have 1000 money with quantity 3 and price450

Check file is empty or not Write a program to check if the given file is empty or not

In [2]:
import os
size = os.stat("C:/Users/ankit/OneDrive/Desktop/Road to Data Science/Python for Data Science Files/Test.txt").st_size

if size==0:
    print("File is empty")
else:
    print("File is not empty")

File is not empty

Read line number 4 from the following file

In [3]:
with open("C:/Users/ankit/OneDrive/Desktop/Road to Data Science/Python for Data Science Files/Test.txt") as fp:
    lines = fp.readlines()
    print(lines[3])

line4

Write a program to find the simple interest when the value of principle,rate of interest and timeperiod is given.

In [4]:
P = float(input("Enter the value of Principal"))
R = float(input("Enter the value of Rate"))
N = float(input("Enter the value of duration"))
SI = (P*R*N)/100
A = P+SI
print("Simple Interest is", SI, "and Amount is", A)

Enter the value of Principal 5000
Enter the value of Rate 10
Enter the value of duration 2

Simple Interest is 1000.0 and Amount is 6000.0

Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of1litre milk is 40Rs.

In [9]:
r = float(input("Enter the value of radius"))
h = float(input("Enter the value of height"))
pi = 3.14
Volume = pi*r**2*h
print("Volume of cylinder is", Volume)
cost = Volume/1000*40
print("Cost is", cost)

Enter the value of radius 5
Enter the value of height 6

Volume of cylinder is 471.0
Cost is 18.84

Print the sum of the current number and the previous number Write a program to iterate the first10 numbers and in each iteration, print the sum of the current and previous number.

In [11]:
prev_num = 0
for i in range(1,11):
    x = prev_num+i
    prev_num=i

    print(x, end=" ")

1 3 5 7 9 11 13 15 17 19

Write a python program to search a given number from a list

In [18]:
l1 = list(range(5,15))
n = int(input("Enter the number"))
for i in l1:
    if i==n:
        print("the number is",i)
        break

Enter the number 7

the number is 7

Check Palindrome Number Write a program to check if the given number is a palindromenumber.

In [25]:
n = input("Enter the number")
rev_n = n[::-1]
print(rev_n)
if(n==rev_n):
    print("The number is palindrome")
else:
    print("The number is not palindrome")

Enter the number 567

765
The number is not palindrome

Create a new list from a two list using the following condition Given a two list of numbers, writea program to create a new list such that the new list should contain odd numbers from the first list and evennumbers from the second list.

In [34]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,12,13,14,15,16,17,18,19,20]

l3=[]
for i in l1:
    if i%2!=0:
        l3.append(i)

for i in l2:
    if i%2==0:
        l3.append(i)

print(l3)

[1, 3, 5, 7, 9, 12, 14, 16, 18, 20]

Calculate income tax for the given income by adhering to the below rules first 10k--> 0% second10 --> 10% remaining-->20%
Expected Output:
For example, suppose the taxable income is 45000 the income tax payable is
10000
0% + 10000
10% + 25000*20% = $6000.

In [37]:
n = int(input("Enter the salary"))
if n<10000:
    print(n)
else:
    a=n-10000
    b=a-10000
    c=b*0.2
    d=c+1000
print(d)

Enter the salary 45000

6000.0

Print multiplication table form 1 to 10

In [43]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end=" ")
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

Print all the armstrong numbers in the range of 100 to 1000

In [57]:
armstrong_list = []
for i in range(100,1000):
    a=i%10
    num = i//10
    b=num%10
    c=num//10
    if(a**3+b**3+c**3==i):
        armstrong_list.append(i)
print(armstrong_list)

[153, 370, 371, 407]

In [56]:
i = 567
a=i%10
num = i//10
b=num%10
c=num//10
print(a,b,c)

7 6 5

The current population of a town is 10000. The population of the town is increasing at the rateof 10% per year. You have to write a program to find out the population at the end of each of the last 10years. For eg current population is 10000 so the output should be like this:
#10th year - 10000
#9th year - 9000
#8th year - 8100 and so on

In [58]:
p=10000
for i in range(1,10):
    p=p-0.1*p
    print(round(p), end=" ")

9000 8100 7290 6561 5905 5314 4783 4305 3874

Write a program to print all the unique combinations of two digits from 1 to 4 for ex (1,2),(2,3)..

In [60]:
for i in range(1,5):
    for j in range(1,5):
        if i!=j:
            print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

Write a program to print whether a given number is prime number or not

In [62]:
n = int(input("Enter the number"))
prime = []
if(n==1):
    print("1 is not prime number")
else:
    for i in range(1, n+1):
        if(n%i==0):
            prime.append(i)
if(len(prime)>2):
    print("The number is not prime number")
else:
    print("The number is prime")

Enter the number 49

The number is not prime number

User will provide 2 numbers you have to find the HCF of those 2 numbers

In [65]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
a_div = []
b_div = []

for i in range(1, a+1):
    if(a%i == 0):
        a_div.append(i)

for i in range(1, b+1):
    if(b%i==0):
        b_div.append(i)
        
common_list=[]

for i in a_div:
    if i in b_div:
        common_list.append(i)

print(common_list)

Enter first number 34
Enter second number 56

[1, 2]

User will provide 2 numbers you have to find the by LCM of those 2 numbers

In [3]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))

if a>b:
    greater=a
else:
    greater=b

while(True):
    if(greater%a==0) and (greater%b==0):
        LCM=greater
        break
    greater=greater+1

print(LCM)

Enter first number 4
Enter second number 6

12

Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [6]:
a=float(input("Enter the first angle"))
b=float(input("Enter the second angle"))
c=float(input("Enter the third angle"))
if(a+b+c)==180 and a!=0 and b!=0 and c!=0:
    print("It is a triangle")
else:
    print("It is not a triangle")

Enter the first angle 30
Enter the second angle 60
Enter the third angle 90

It is a triangle

Write a program that will determine weather when the value of temperature and humidity is provided by the user.
TEMPERATURE(C) HUMIDITY(%) WEATHER
>= 30 >=90 Hot and Humid
>= 30 < 90 Hot
<30 >= 90 Cool and Humid
<30 <90 Cool

In [15]:
temp = int(input("Enter the value of temperature"))
humidity = int(input("Enter the value of humidity"))
if(temp>=30 and humidity>=90):
    print("Weather is hot and humid")
elif(temp>30 and humidity<90):
    print("Weather is hot")
elif(temp<30 and humidity>=90):
    print("Weather is cool and humid")
elif(temp<30 and humidity<90):
    print("Weather is cool")

Enter the value of temperature 45
Enter the value of humidity 0

Weather is hot

Write a program that will take user input of cost price and selling price and determines whetherits a loss or a profit.

In [20]:
CP = int(input("Enter the Cost Price"))
SP = int(input("Ente the selling price"))
if SP>CP:
    print("Profit is",SP-CP)
else:
    print("Profit is", CP-SP)

Enter the Cost Price 5000
Ente the selling price 4000

Profit is 1000

Write a program that will give you the in hand salary after deduction of HRA(10%),
DA(5%),
PF(3%),
and tax
(if salary is between 5-10 lakh–10%),
(11-20lakh–20%),
(20< _ – 30%)
(0-1lakh print k).

In [26]:
sal = int(input("Enter the salary"))
if(sal in range(500000, 1000000)):
    sal=sal-sal*0.1
elif(sal in range(1100000, 2000000)):
    sal=sal-sal*0.2
elif(sal>2000000):
    sal=sal-sal*0.3
else:
    print("No Tax")
print("Salary after tax", sal)

hra=sal*0.1
da=sal*0.05
pf=sal*0.03

rem_sal=sal-(hra+da+pf)
print("Inhand salary is",rem_sal)

Enter the salary 300000

No Tax
Salary after tax 300000
Inhand salary is 246000.0

Write a program to find the sum of first n numbers, where n will be provided by the user. Eg ifthe user provides n=10 the output should be 55.

In [29]:
n = int(input("Enter the number"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

Enter the number 10

55

Write a program that can find the factorial of a given number provided by the user.

In [36]:
n = int(input("Enter the number"))
fact=1
if n<0:
    print("Factorial of negative number is not possible")
elif n==0:
    print("Factorial is 1")
for i in range(1,n+1):
    fact=fact*i
print(fact)

Enter the number 5

120

print following pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [43]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Print First 10 natural numbers using while loop

In [50]:
while i<10:
    for i in range(1,11):
        print(i)
    print("\n")

1
2
3
4
5
6
7
8
9
10

Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [54]:
for i in range(1,7):
    for j in range(1,i):
        print(j, end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

print the following pattern
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [58]:
num=1
for i in range(1,7):
    for j in range(1, i+1):
        print(num, end=" ")
        num=num+1
    print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

16 17 18 19 20 21

Display numbers from a list using loop.
Write a program to display only those numbers from a list that satisfy the following conditions
The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop

In [1]:
for i in range(1, 500):
        if(i%5==0 and i!=150):
            print(i, end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495

In [71]:
num = [12, 75, 150, 180, 145, 525, 50]
for i in num:
    if i>500:
        break
    if(i%5==0 and i<=150):
        print(i)
print("\n")

75
150
145

Count the total number of digits in a number Write a program to count the total number of digitsin a number using a while loop.
For example, the number is 75869, so the output should be 5.

In [3]:
n = int(input("Enter the number"))
count = len(str(n))
count

Enter the number 45678

5

Method 2 with while loop

In [10]:
n = input("Enter the number")
count=0
n = list(n)
for i in n:
    count=count+1
print(count)

Enter the number 45678

5

Print the following pattern Write a program to use for loop to print the following reverse number pattern
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [40]:
n = 6
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
        #n=n-1
    print("\n")

6 5 4 3 2 1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Print list in reverse order using a loop

In [8]:
a = [1,2,3,4,5]
for i in a[::-1]:
    print(i, end=" ")

5 4 3 2 1

Display numbers from -10 to -1 using for loop

In [12]:
for i in range(-10,0):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

Display Fibonacci series up to 10 terms The Fibonacci Sequence is a series of numbers. Thenext number is found by adding up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [23]:
n = int(input("Enter the number"))
num1 =0
num2=1
print(num1, end= " ")
print(num2, end= " ")
for i in range(n):
    num3=num1+num2
    num1=num2
    num2=num3
    print(num3, end= " ")

Enter the number 10

0 1 1 2 3 5 8 13 21 34 55 89

Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list[1::2]

[20, 40, 60, 80, 100]

Find the sum of the series upto n terms Write a program to calculate the sum of series up to nterm. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [38]:
n=5
x=2
result=0
for i in range(1, n+1):
    y=str(x)*i
    z=int("".join(y))
    result=result+z
print(result)

24690

Print downward Half-Pyramid Pattern with Star

In [44]:
n = int(input("Enter the number"))
for i in range(n, 0, -1):
    print("*"*i)

Enter the number 5

*****
****
***
**
*

In [46]:
n = int(input("Enter the number"))

for i in range(1, n+1):
    print("*"*i)
for i in range(n, 0, -1):
    print("*"*i)

Enter the number 5

*
**
***
****
*****
*****
****
***
**
*

Write a program that keeps on accepting a number from the user until the user enters Zero.Display the sum and average of all the numbers.

In [61]:
n=int(input("Enter the number"))
count=0
sum=0
avg=0
while(n!=0):
    sum=sum+n
    count=count+1
    avg=sum/count
    n=int(input("Enter the number"))

print(sum)
print(avg)

Enter the number 6
Enter the number 7
Enter the number 2
Enter the number 3
Enter the number 0

18
4.5

Write a program to print the first 25 odd numbers

In [66]:
flag=0
i=1
odd_list=[]

while True:
    if i%2!=0:
        odd_list.append(i)
        flag=flag+1

    if flag==25:
        break
    i=i+1
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Write a function called exponent(base, exp) that returns an int value of base raises to the powerof exp. Note here exp is a non-negative integer, and the base is an integer.

In [69]:
def exponent(base, exp):
    print(pow(base,exp))
exponent(2,5)

32

Write a program to create a function that takes two arguments,name and age, and print their value.

In [74]:
def desc(name, age):
    print(f"Name of the person is {name} and age is {age}")
desc("Ankita", 5)

Name of the person is Ankita and age is 5

Check if the first and last number of a list is the same Write a function to return True if the firstand last number of a given list is same. If numbers are different then return False.

In [12]:
#n=[1,2,3,4,5,1]

def xyz(list):
    num1=list[0]
    num2=list[-1]
    if num1==num2:
        return True
    else:
        return False

print(xyz([1,2,3,4,1]))

True

Calculate the multiplication and sum of two numbers
Given two integer numbers return their product only if the product is equal to or lower than 1000, else returntheir sum.

In [17]:
def sumprod(a,b):
    sum=a+b
    prod=a*b
    if(prod<=1000):
        return prod
    else:
        return sum
print(sumprod(10,20))

200

Create a function with variable length of arguments
Write a program to create function func1() to accept a variable length of arguments and print their value.
Note: Create a function in such a way that we can pass any number of arguments to this function, and thefunction should process them and display each argument’s value.

In [24]:
def values(*num):
    return num
print(values(1,3,4))

(1, 3, 4)

Return multiple values from a function
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [27]:
def calculation(a,b):
    add=a+b
    sub=a-b
    return add,sub
print(calculation(5,6))

(11, -1)

Create a function with a default argument Write a program to create a functionshow_employee() using the following conditions.
It should accept the employee’s name and salary and display both. If the salary is missing in the function callthen assign default value 9000 to salary

In [52]:
def show_emp(name, sal=9000):
    print("Name of the employee is {} and salary is {}".format(name, sal))

show_emp('Ankita', 7000)
show_emp('Ankita')

Name of the employee is Ankita and salary is 7000
Name of the employee is Ankita and salary is 9000

Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [59]:
def outer(a,b):
    def inner(a,b):
        return a+b
    add = inner(a,b)
    return add+5
print(outer(20,10))

35

Create a recursive function
A] Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
A recursive function is a function that calls itself again and again

In [64]:
def add(n):
    if n==0:
        return 0
    else:
        return n+add(n-1)
print(add(5))

15

Write a program to create a recursive function to calculate the factorial of numbers from 0 to 10.
A recursive function is a function that calls itself again and again.

In [69]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)
print(fact(4))

24

Generate a Python list of all the even numbers between 4 to 30

In [83]:
list=[]
for i in range(4,31):
    if i%2==0:
        list.append(i)
print(list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Find the largest item from a given list

In [92]:
x = [4,5,6,2,7,8]
largest=0

for i in range(1, len(x)):
    if(x[i]>largest):
        largest=x[i]
print(largest)

8